{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}

    <h1>Votre panier</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price / 100 }}</td>
                    <td>{{ item.qty }}</td>
                    {#<td>{{ (item.qty * item.product.price) / 100 }}</td>#}
                    <td>{{ item.total / 100 }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total: </td>
                <td>{{ total / 100 }}</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
